* {
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;

  .side-bar{
    width: 300px;
    height: 100%;
    &__user-name{
      width: 100%;
      height: 100px;
      background-color: #253141;

      display: flex;
      align-items: center;
      justify-content: center;
      &__box{
        width: 260px;
        height: 20px;
        color: #ffffff;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        &__name{
          line-height: 20px;
          font-weight: bold;
          font-size: 16px;
        }
        &__icon{
          color: #ffffff;
          &--edit{
            padding-right: 5px;
          }
        }
      }
    }
    &__group-list{
      width: 100%;
      padding: 20px 20px 0;
      height: Calc(100% - 100px);
      background-color: #2f3e51;
      color: #fff;
      &__group{
        padding: 0;
        margin: 0;
        &--name{

          font-weight: bold;
          font-size: 15px;
          color: #fff;
          margin-bottom: 5px;
        }
        &--info{
          font-weight: bold;
          font-size: 11px;
          color: #fff;
          margin-bottom: 40px;
        }

      }
    }
  }

  .chat-main{
    width: Calc(100% - 300px);
    height: 100%;
    background-color: #fff;
    color: black;
    &__group-info{
      width: 100%;
      height: 100px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      &__left-box{
        margin-left: 40px;
        &__current-group{
          color: #333333;
          font-size: 20px;
          margin-top: 35px;
          margin-bottom: 15px;
        }
        &__member-list{
          margin-top:15px;
          font-size: 12px;
          color: #999999;
          display: flex;
        }
      }
    
      &__edit-btn{
        border: 1px solid;
        border-color: #38aef0;
        width: 72px;
        margin-top: 28px;
        margin-bottom: 32px;
        margin-right: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
      }
    }
    .chat-main__message-list{
      
      width: 100%;
      height: Calc(100% - 190px);
      background-color: #fafafa;
      padding: 35px 40px 35px 40px;

      &__message{
        margin-bottom: 46px;
        &__upper-info{
          display: flex;
          margin-bottom: 12px;
          &__talker{
            font-size: 16px;
            color: #333333;
            
          }
          &__date{
            color: #999999;
            font-size: 12px;
          }
        }
        &__text{
          color: #434A54;
          font-size: 14px;
        }
      }
    
    }
    .chat-main__message-form{
      width: 100%;
      height: 90px;
      background-color: #d2d2d2;
      display: flex;
      align-items: center;
      &__new-message{
        width: 100%;
        height: 50px;
        margin:  0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        &__input-box{
          position: relative;

          padding: 0;
          display: inline-block; 
          width: 100%;
          height: 100%;
          line-height: 50px;
          &__text{
            padding-left: 10px;
            height: 100%;
            width: 100%; 
          }
          &__img{
            &--remove{
              display: none;
            }
          }
        }

        &__submit-box{
          margin-left: 15px;
          padding-left:30px;
          padding-right: 65px;
          height: 50px;
          width: 48px;
          background-color: #38AEF0;
          color: #fff
        }
      }
    }
  
  }
}

.fa.fa-image{
  position: absolute;
  top: 15px;
  right: 10px;
}